<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Mean taks app</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Components</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" data-target="dropdown1" (click)="logout()"
          >Logout<i class="material-icons right">arrow_drop_down</i></a
        >
      </li>
    </ul>
  </div>
</nav>
<main class="container">
  <h2>Create New Task</h2>
  <div class="row">
    <div class="input-field col s6">
      <input id="create" type="text" class="validate" [(ngModel)]="newTask" />
      <label for="create">New Task</label>
    </div>
    <div class="input-field col s6">
      <button class="btn waves-effect waves-light blue" (click)="create()">
        Create
      </button>
    </div>
  </div>
  <h2>All Task</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="aright">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.name }}</td>
        <td class="aright">
          <a class="btn-floating yellow accent-4 mr" (click)="update(task)"
            ><i class="material-icons">edit</i></a
          >
          <a class="btn-floating red darken-1" (click)="delete(task._id)"
            ><i class="material-icons">delete</i></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</main>
