<div>
  <h2>Register</h2>
  <div class="row">
    <form (ngSubmit)="saveRegisterForm()" [formGroup]="myForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input
            id="username"
            type="text"
            class="validate"
            formControlName="username"
          />
          <label for="username" [class.active]="isDirty('username')"
            >Username</label
          >
          <span class="helper-text" data-error="wrong" data-success="right"
            >Example name</span
          >
        </div>
        <div class="input-field col s12">
          <input
            id="email"
            type="email"
            class="validate"
            formControlName="email"
          />
          <label for="email" [class.active]="isDirty('email')">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right"
            >email@example.com</span
          >
        </div>
        <div class="input-field col s12">
          <input
            id="password"
            type="password"
            class="validate"
            formControlName="password"
          />
          <label for="password" [class.active]="isDirty('password')"
            >Password</label
          >
          <span class="helper-text" data-error="wrong" data-success="right"
            >Password</span
          >
        </div>
        <div class="input-field col s12">
          <input
            id="confirmPassword"
            type="password"
            class="validate"
            formControlName="confirmPassword"
          />
          <label
            for="confirmPassword"
            [class.active]="isDirty('confirmPassword')"
            >Confirm password</label
          >
          <span class="helper-text" data-error="wrong" data-success="right"
            >Confirm password</span
          >
        </div>
        <div class="input-field col s12">
          <button class="waves-effect waves-light btn">Save</button>
        </div>
        <div class="input-field col s12">
          <a routerLink="/auth/login">Go Login</a>
        </div>
      </div>
    </form>
  </div>
</div>
